@layer tokens {
    :where(:root, :host) {
  --colors-primary: #1E293B;
  --colors-secondary: #3b82f6;
  --colors-white: #fff;
  --colors-tertiary: #9d9d9d;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px
}
  }
  